In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [1]:
import psycopg2
import pandas as pd

In [2]:
def create_database():
  
    conn=psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=Superpostgres@123")
    cur=conn.cursor()
    conn.set_session(autocommit=True)
    
    #creating database
    cur.execute("drop database if exists account")
    cur.execute("create database account")
    #closing default database connection
    conn.close()
    
    #connecting to account database
    conn=psycopg2.connect("host=127.0.0.1 dbname=account user=postgres password=Superpostgres@123")
    cur=conn.cursor()
    
    return cur, conn

In [3]:
def drop_tables(cur,conn):
    for query in drop_table_queries:
        cur.execute(query)
        cur.commit()

In [4]:
def create_tables(cur,conn):
     for query in create_table_queries:
        cur.execute(query)
        cur.commit()

In [5]:
WealthAccCountry=pd.read_csv("C:/Users/Lenovo/Downloads/Wealth-AccountsCountry.csv")

In [6]:
WealthAccCountry.head()

,Code,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,...,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
0,ALB,Republic of Albania,Upper middle income,Europe & Central Asia,IBRD,NaN,Albanian lek,2020 (expected),"Demographic and Health Survey, 2017/18",NaN,...,Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2018.0,2006.0,AL,AL,Albania,Albania
1,ARG,Argentine Republic,Upper middle income,Latin America & Caribbean,IBRD,NaN,Argentine peso,2020 (expected),"Multiple Indicator Cluster Survey, 2019/20",NaN,...,"Integrated household survey (IHS), 2016",Yes,2008,2002.0,2018.0,2011.0,AR,AR,Argentina,Argentina
2,ARM,Republic of Armenia,Upper middle income,Europe & Central Asia,IBRD,NaN,Armenian dram,2020 (expected),"Demographic and Health Survey, 2015/16",NaN,...,"Integrated household survey (IHS), 2016",Yes,2014,NaN,2018.0,2012.0,AM,AM,Armenia,Armenia
3,AUS,Commonwealth of Australia,High income,East Asia & Pacific,NaN,NaN,Australian dollar,2016,NaN,Fiscal year end: June 30; reporting period for...,...,"Expenditure survey/budget survey (ES/BS), 2010",Yes,2015-2016,2013.0,2018.0,2013.0,AU,AU,Australia,Australia
4,AUT,Republic of Austria,High income,Europe & Central Asia,NaN,Euro area,Euro,2011. Population figures compiled from adminis...,NaN,A simple multiplier is used to convert the nat...,...,"Income survey (IS), 2015",Yes,2010,2014.0,2018.0,2010.0,AT,AT,Austria,Austria

In [7]:
WealthAccCountry_less_col=WealthAccCountry[['Code', 'Short Name','Table Name', 'Region','Currency Unit']]

In [8]:
WealthAccCountry_less_col.head()

  Code Short Name Table Name                     Region      Currency Unit
0  ALB    Albania    Albania      Europe & Central Asia       Albanian lek
1  ARG  Argentina  Argentina  Latin America & Caribbean     Argentine peso
2  ARM    Armenia    Armenia      Europe & Central Asia      Armenian dram
3  AUS  Australia  Australia        East Asia & Pacific  Australian dollar
4  AUT    Austria    Austria      Europe & Central Asia               Euro

In [9]:
WealthAccSeries=pd.read_csv("C:/Users/Lenovo/Downloads/Wealth-AccountSeries.csv")

In [10]:
WealthAccSeries.head()

,Code,Indicator Name,Long definition,Source,Topic,Unit of measure,Periodicity,Reference period,Statistical concept and methodology,Previous Indicator Code,Previous Indicator Name
0,NW.HCA.TO,Human capital (constant 2018 US$),Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN
1,NW.HCA.PC,Human capital per capita (constant 2018 US$),Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN
2,NW.HCA.FEMP.PC,"Human capital per capita, employed female (con...",Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN
3,NW.HCA.MEMP.PC,"Human capital per capita, employed male (const...",Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN
4,NW.HCA.FEMA.PC,"Human capital per capita, female (constant 201...",Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN

In [11]:
WealthAccSeries.columns

Index(['Code', 'Indicator Name', 'Long definition', 'Source', 'Topic',
       'Unit of measure', 'Periodicity', 'Reference period',
       'Statistical concept and methodology', 'Previous Indicator Code',
       'Previous Indicator Name'],
      dtype='object')

In [12]:
WealthAccSeries_less_col=WealthAccSeries[['Code','Source','Topic','Indicator Name']]

In [13]:
WealthAccSeries_less_col.head()

,Code,Source,Topic,Indicator Name
0,NW.HCA.TO,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Human capital (constant 2018 US$)
1,NW.HCA.PC,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Human capital per capita (constant 2018 US$)
2,NW.HCA.FEMP.PC,World Bank. 2021. The Changing Wealth of Natio...,Human capital,"Human capital per capita, employed female (con..."
3,NW.HCA.MEMP.PC,World Bank. 2021. The Changing Wealth of Natio...,Human capital,"Human capital per capita, employed male (const..."
4,NW.HCA.FEMA.PC,World Bank. 2021. The Changing Wealth of Natio...,Human capital,"Human capital per capita, female (constant 201..."

In [14]:
WealthAccData=pd.read_csv("C:/Users/Lenovo/Downloads/Wealth-AccountData.csv")

In [15]:
WealthAccData.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]',
       '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]',
       '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]',
       '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]',
       '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]'],
      dtype='object')

In [16]:
WealthAccData_less_col=WealthAccData[['Country Name','Country Code', 'Series Name', 'Series Code']]

In [17]:
WealthAccData_less_col.head()

,Country Name,Country Code,Series Name,Series Code
0,Albania,ALB,Human capital (constant 2018 US$),NW.HCA.TO
1,Albania,ALB,Human capital per capita (constant 2018 US$),NW.HCA.PC
2,Albania,ALB,"Human capital per capita, employed female (con...",NW.HCA.FEMP.PC
3,Albania,ALB,"Human capital per capita, employed male (const...",NW.HCA.MEMP.PC
4,Albania,ALB,"Human capital per capita, female (constant 201...",NW.HCA.FEMA.PC

In [18]:
cur, conn=create_database()

In [19]:
AccCountry=("""create table if not exists AccCountry(
            Code VARCHAR ,
            Short_Name VARCHAR,
            Table_Name VARCHAR , 
            Region VARCHAR,
            Currency_Unit VARCHAR
           )""")

In [20]:
cur.execute(AccCountry)
conn.commit()

In [21]:
AccSeries=("""create table if not exists AccSeries(
          Code VARCHAR,
          Source VARCHAR,
          Topic VARCHAR,
          Indicater_Name VARCHAR)""")

In [22]:
cur.execute(AccSeries)
conn.commit()

In [23]:
AccData=("""create table if not exists AccData(
          Country_Name VARCHAR,
          Country_Code VARCHAR,
          Series_Name VARCHAR,
          Series_Code VARCHAR)""")

In [24]:
cur.execute(AccData)
conn.commit()

In [25]:
AccCountry_insert=("""Insert into AccCountry(
            Code,
            Short_Name,
            Table_Name , 
            Region ,
            Currency_Unit)
            values(%s,%s,%s,%s,%s)
            """)

In [26]:
for i ,row in WealthAccCountry_less_col.iterrows():
    cur.execute(AccCountry_insert,list(row))

In [29]:
AccSeries_insert=("""Insert into AccSeries(
          Code ,
          Source ,
          Topic ,
          Indicater_Name )
          values(%s,%s,%s,%s)
            """)

In [30]:
for i ,row in WealthAccSeries_less_col.iterrows():
    cur.execute(AccSeries_insert,list(row))

In [31]:
AccData_insert=("""Insert into AccData(
          Country_Name,
          Country_Code,
          Series_Name,
          Series_Code )
          values(%s,%s,%s,%s)
            """)

In [32]:
for i, row in WealthAccData_less_col.iterrows():
    cur.execute(AccData_insert,list(row))

In [33]:
conn.commit()